#Yes:hover {
    
    color: white;
    background-color: rgba(135, 235, 192, 0.67);
    border-color:rgba(62, 250, 169, 0.5);
}

#No:hover {
    color: white;
    background-color: rgba(139, 80, 211, 0.67);
    border-color: rgba(141, 62, 220, 0.5);
}

#container h1 {
    animation: firstQuoteAppear 2s forwards;
}
    
.texto p:nth-of-type(1) {
    animation: secondLineFirst 2s forwards 0.3s, secondLineSecond 0.4s forwards 2.3s;
}

.exclamation {
    animation: exclamationAppear 0.4s forwards 2.5s;
}

.texto p:nth-of-type(2) {
    animation: otherLines 2s forwards;
    animation-delay: 2s;
}

.texto p:nth-of-type(3) {
    animation: otherLines 2s forwards;
    animation-delay: 2.3s;
}

.texto p:nth-of-type(4) {
    animation: otherLines 2s forwards;
    animation-delay: 3.3s;
}

.texto p:nth-of-type(5) {
    animation: otherLines 2s forwards;
    animation-delay: 4s;
}

#Yes {
    animation: yesAppear 2s forwards;
    animation-delay: 5s;
}

#No {
    animation: noAppear 2s forwards;
    animation-delay: 5s;
}

@keyframes firstQuoteAppear {
    0% {
        opacity: 0;
        transform: translateY(-1em) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes secondLineFirst {
    0% {
        transform: translateY(-2em) scale(0.6) translateX(15px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1) translateX(15px);
    }
}

@keyframes secondLineSecond {
    0% {
        transform: translateX(15px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes exclamationAppear {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes otherLines {
    0% {
        transform: translateY(-2em) scale(0.6);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes yesAppear {
    0% {
        opacity: 0;
        transform: translateX(3em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes noAppear {
    0% {
        opacity: 0;
        transform: translateX(-3em);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}